<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Little Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
        <header>
        <h1>THE LITTLE TECH BLOG</h1>
    </header>
        <nav>
        <a href="/">HOME</a>
        <a href="">DASHBOARD</a>
        <a href="">LOGIN</a>
        <a href="">LOGOUT</a>
    </nav>
    <main>
            {{{body}}}
    </main>
    
</body>
</html>