<div class="edit-post">
    <div>Title</div>
    <textarea id="text-title">{{post.title}}</textarea>
    <br>
    <div>Description</div>
    <textarea id="text-description">{{post.description}}</textarea>

    <br>
    <button id="save-btn" data-post-id="{{post.id}}">Save</button>
</div>
<script src="/js/edit.js"></script>