/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #59322E; }
.Graphic-Design-2-hex { color: #A62121; }
.Graphic-Design-3-hex { color: #F23838; }
.Graphic-Design-4-hex { color: #F25252; }
.Graphic-Design-5-hex { color: #BFBFBF; }

/* Color Theme Swatches in RGBA */
.Graphic-Design-1-rgba { color: rgba(89, 49, 46, 1); }
.Graphic-Design-2-rgba { color: rgba(165, 33, 33, 1); }
.Graphic-Design-3-rgba { color: rgba(242, 55, 55, 1); }
.Graphic-Design-4-rgba { color: rgba(242, 82, 82, 1); }
.Graphic-Design-5-rgba { color: rgba(191, 191, 191, 1); }



html {
    height: 100%;
    width: 100%;
    background-color: #BFBFBF;
    font-family: 'Roboto Mono', monospace;

}

h1 {
    font-size: 30px;
    width: 40%;
    margin: 0;
}

nav {
    width: 100%;
    float: left;
}


nav a {
    float: right;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #F25252;
}

main {
    display: flex;
    width: 100%;
}

.homepageDiv {
    display:inline-block;
    width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 5%;

}
.wrapper {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.blogPostDiv {
    width: 70%;
    height: auto;
    border: solid;
    border-color: #59322E;

}

.title {
    text-align: center;
    background-color: aliceblue;
    color: #F25252;
    font-size: larger;
}

.content {
    word-break:normal;
    overflow: hidden;
}

.content p {
    text-align: center;
    vertical-align: middle;
    /* margin: 0 auto; */
}

.blog-date {
    font-size: 10px;
    text-align: center;
}

#user-blog-posts {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    text-align: left;
    margin-top: 100px;
    background-color: #F25252;
    border-style: dashed;
    border-color: #A62121;
}

#user-blog-posts .title {
    text-align: center;
    background-color: #F25252;
}

#user-blog-posts p {
    color:white;
    padding-top: 10px;
    font-size: 30px; 
}
#user-blog-posts a {
    text-align: left;
    color: white;
}

#form-div {
    /* display:block; */
    margin: 0 auto;
    width: 40%;
    height: 400px;
    text-align: center;
    margin-top: 100px;
    background-color: #F25252;
    border-style: dashed;
    border-color: #A62121;
}

#form-input-title {
    background-color: #BFBFBF;
    /* border-radius: 10px; */
    border-style: dashed;
    position: relative;
    width: 200px;
    height: 50px;
    margin: 20px;
    text-align: center;
}

#form-input-title::-webkit-input-placeholder {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#form-input-blog::-webkit-input-placeholder {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#form-input-blog {
    background-color: #BFBFBF;
    /* border-radius: 10px; */
    border-style: dashed;
    position: relative;
    width: 80%;
    height: 100px;
   color: white;
   text-align: center;
}

#blog-post-button {
    color: white;
    background-color: #BFBFBF;
    font-family: 'Roboto Mono', monospace;
}

#blog-post-button:hover {
    background-color: #A62121;
}

#blog-text {
    color:white;
    padding-top: 10px;
    font-size: 30px;
}
