/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #59322E; }
.Graphic-Design-2-hex { color: #A62121; }
.Graphic-Design-3-hex { color: #F23838; }
.Graphic-Design-4-hex { color: #F25252; }
.Graphic-Design-5-hex { color: #BFBFBF; }

/* Color Theme Swatches in RGBA */
.Graphic-Design-1-rgba { color: rgba(89, 49, 46, 1); }
.Graphic-Design-2-rgba { color: rgba(165, 33, 33, 1); }
.Graphic-Design-3-rgba { color: rgba(242, 55, 55, 1); }
.Graphic-Design-4-rgba { color: rgba(242, 82, 82, 1); }
.Graphic-Design-5-rgba { color: rgba(191, 191, 191, 1); }


/* Main Page styling */
html {
    height: 100%;
    width: 100%;
    background-color: #BFBFBF;
    font-family: 'Roboto Mono', monospace;

}

h1 {
    font-size: 30px;
    width: 40%;
    margin: 0;
}

nav {
    width: 100%;
    float: left;
}

nav a {
    float: right;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #F25252;
}

nav a:hover {
    color: #59322E;
}

main {
    display: flex;
    width: 100%;
}


/* Homepage styling */
.homepageDiv {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.title {
    text-align: center;
    background-color: aliceblue;
    font-size: 20px;
}

.blogPostDiv {
    width: 70%;
    height: auto;
    border: solid;
    border-color: #59322E;
    margin: 0 auto;
    margin-bottom: 30px;
}

.blogPostDiv a {
    color: #F23838;
}
.blogPostDiv a:hover {
    color:#59322E;
}

.content {
    word-break:normal;
    overflow: hidden;
}

.content p {
    text-align: center;
    vertical-align: middle;
}

.blog-date {
    font-size: 10px;
    text-align: center;
}


/* Login Page styling */
.form-group {
    margin-top: 10;
}

#login-form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border: #F25252 dashed;
    margin-top: 100px;
}

#login-form h2 {
    color: aliceblue;
}

#login-form button {
    background-color: #F25252;
    margin: 10 0 10 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#login-form button:hover {
    background-color: #BFBFBF;
}

#login-form input {
    margin: 10 0 10 0;
}


/* View Page styling */
.view-post {
    margin: 0 auto;
    width: 70%;
}

.post-wrapper {
    border: #F23838 dashed;
    margin-top: 100px;
    text-align: center;
}

.post-wrapper h3 {
    background-color: aliceblue;
    margin: 0;
}

.post-wrapper p {
    padding: 5px;
}

#user-name {
    color: #F25252;
    font-size: 12px;
    margin: 5 0 0 0;
}

#comment-text p{
    font-style: italic;
    font-size: 18px;
    margin: 0;
}

#comment-div button {
    background-color: #BFBFBF;
    font-family: 'Roboto Mono', monospace;
}

#comment-div button:hover {
    background-color: #F25252;
}

#comment-btn {
    font-family: 'Roboto Mono', monospace;
    background-color: #BFBFBF;
}

#comment-btn:hover {
    background-color: #F25252;
}

#comment-area {
    border: #BFBFBF dashed;
    margin: 5 0 0 0;
}


/* Dashboard Page styling */
#user-blog-posts {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    text-align: left;
    margin-top: 100px;
    background-color: #F25252;
    border-style: dashed;
    border-color: #A62121;
}

#user-blog-posts .title {
    text-align: center;
    background-color: #F25252;
}

#user-blog-posts p {
    color:white;
    padding-top: 10px;
    font-size: 25px; 
    text-align: center;
}

#user-blog-posts a {
    text-align: left;
    color: white;
}

#user-blog-posts a:hover {
    color:#59322E;
}

#user-blog-posts li {
    margin-top: 20px;
}

#form-div {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    text-align: center;
    margin-top: 100px;
    border-style: dashed;
    border-color: #A62121;
}

#form-input-title {
    background-color: #BFBFBF;
    border-style: dashed;
    position: relative;
    width: 80%px;
    height: 50px;
    margin: 20px;
    text-align: center;
}

#form-input-title::-webkit-input-placeholder {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#form-input-blog::-webkit-input-placeholder {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#form-input-blog {
    background-color: #BFBFBF;
    border-style: dashed;
    position: relative;
    width: 80%;
    height: 100px;
    color: white;
    text-align: center;
}

#blog-post-button {
    color: white;
    background-color: #BFBFBF;
    font-family: 'Roboto Mono', monospace;
}

#blog-post-button:hover {
    background-color: #F23838;
}

#blog-text {
    color:white;
    padding-top: 10px;
    font-size: 25px;
}


/* Edit Page styling */
.edit-post {
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
    height: 400px;
    text-align: center;
    background-color: #F25252;
    border-style: dashed;
    border-color: #A62121;
}

.edit-post h6 {
    font-size: 30px;
    margin: 5 0 10 0;
    color: aliceblue;
}

.edit-post button {
    background-color: #BFBFBF;
    font-family: 'Roboto Mono', monospace;
    color: #A62121;

    margin-top: 10;
}

.edit-post button:hover {
    background-color: #59322E;
}

#text-title {
    width: 50%;
    height: 70px;
    margin: 10 0 10 0;
    border: #BFBFBF dashed;
    text-align: center;
    padding: 10;
}

#text-description {
    width: 60%;
    height: 100px;
    margin: 10 0 10 0;
    border: #BFBFBF dashed;
    text-align: center;
    padding: 10;
}


/* Signup Page styling */
.login-card {
    margin: 0 auto;
    margin-top: 100px;
    border: #F25252 dashed;
    padding: 10px;
    text-align: center;
    width: 70%;
}

.login-card h2 {
    color: aliceblue;
}

.login-card input {
    margin: 10 0 10 0;
}

.login-card button {
    background-color: #F25252;
    font-family: 'Roboto Mono', monospace;
}

.login-card button:hover{
    background-color: #BFBFBF;
}

.login-card label {
    margin: 0 auto;
    display:flex;
    justify-content: center;

}

.form-group {
    /* width: 30%; */
   display: block;
    margin: 0 auto;
}