/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex {
    color: #eb9448ff;
}
.Graphic-Design-2-hex {
    color: #605b58ff;
}
.Graphic-Design-3-hex {
    color: #f7f7f2ff;
}
.Graphic-Design-4-hex {
    color: #f05d23ff;
}
.Graphic-Design-5-hex {
    color: #bfbfbf;
}

/* Main Page styling */
html {
    height: 100%;
    width: 100%;
    background-color: #bfbfbf;
    background-image: url("images/pexels-mungai-mutugi-12950887.jpg");
    background-position: center;
    background-size: cover;
    font-family: "Roboto Mono", monospace;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 30px;
    width: 40%;
    margin: 0;
    color: rgb(235, 148, 72);


}

nav {
    width: 100%;
    float: left;
    background-color: hsla(23, 4%, 36%, 0.7);
    display: inline;
}

nav a {
    float: right;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #bfbfbf;
}

nav a:hover {
    color: #f05d23ff;
}

main {
    display: flex;
    width: 100%;
}

footer {
    bottom: 0;
    height: 50px;
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    font-style: italic;
}

/* Homepage styling */
.homepageDiv {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.title {
    text-align: center;
    background-color: aliceblue;
    font-size: 20px;
}

.blogPostDiv {
    width: 70%;
    height: auto;
    border: solid;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: hsla(60, 24%, 96%, 0.9);
}

.blogPostDiv a {
    color: #f05d23ff;
}
.blogPostDiv a:hover {
    color: #59322e;
}

.content {
    word-break: normal;
    overflow: hidden;
}

.content p {
    text-align: center;
    vertical-align: middle;
}

.blog-date {
    font-size: 10px;
    text-align: center;
}

/* Login Page styling */
.form-group {
    margin-top: 10;
}

#login-form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border: #f05d23ff dashed;
    margin-top: 100px;
    background-color: hsla(60, 24%, 96%, 0.7);
    padding: 10px;
    border-radius: 5px;
}

#login-form button {
    background-color: #f05d23ff;
    margin: 10 0 10 0;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

#login-form button:hover {
    background-color: #bfbfbf;
}

#login-form input {
    margin: 10 0 10 0;
}

/* View Page styling */
.view-post {
    margin: 0 auto;
    width: 70%;
}

.post-wrapper {
    width: 70%;
    height: auto;
    border: solid;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: hsla(60, 24%, 96%, 0.9);;
    margin-top: 100px;
    border-radius: 5px;
}

.post-wrapper h3 {
    background-color: aliceblue;
    margin: 0;
    text-align: center;
}

.post-wrapper p {
    padding: 5px;
}

#user-name {
    color: #f05d23ff;
    font-size: 12px;
    margin: 5 0 0 0;
}

#comment-text p {
    font-style: italic;
    font-size: 18px;
    margin: 0;
}

#comment-div button {
    background-color: #bfbfbf;
    font-family: "Roboto Mono", monospace;
}

#comment-div button:hover {
    background-color: #f05d23ff;
}

#comment-btn {
    font-family: "Roboto Mono", monospace;
    background-color: #bfbfbf;
}

#comment-btn:hover {
    background-color: #f05d23ff;
}

#comment-text {
    border: #bfbfbf dashed;
    margin: 5 0 0 0;
    background-color: hsla(60, 24%, 96%, 0.7)
}


/* Dashboard Page styling */

#dashboard-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    /* padding-top: 10%; */
    margin-top: 100px;
    justify-content: space-around;
}

@media (max-width: 700px){
    #dashboard-wrapper {
        display: inline-block;
        width: 100%;
        height: auto;
    }
}

#user-blog-posts {
    height: 400px;
}

#user-blog-posts .title {
    text-align: center;
    background-color: #f05d23ff;
}

#user-blog-posts p {
    color: white;
    padding-top: 10px;
    font-size: 25px;
}

#user-blog-posts a {
    color: white;
    word-wrap: break-word;
}

#user-blog-posts a:hover {
    color: #f05d23ff;
}

#user-blog-posts li {
    margin-top: 20px;
    background-color: #bfbfbf;
    width: 100%;
    height: auto;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
    padding: 2%;
    border-style: solid;
}

#user-blog-posts ul {
    margin: 0;
    padding-left: 0;
}

#form-div {
    height: 400px;
    text-align: center;
    background-color: #bfbfbf;
    border-style: solid;
    border-radius: 5px;
    background-color: hsla(60, 24%, 96%, 0.7);
}

#form-input-title {
    background-color: aliceblue;
    border-style: dashed;
    position: relative;
    width: 80%px;
    height: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

#form-input-title::-webkit-input-placeholder {
    font-family: "Roboto Mono", monospace;
}

#form-input-blog::-webkit-input-placeholder {
    font-family: "Roboto Mono", monospace;
}

#form-input-blog {
    background-color: aliceblue;
    border-style: dashed;
    border-radius: 5px;
    position: relative;
    width: 80%;
    height: 100px;
    color: white;
    text-align: center;
}

#blog-post-button {
    color: white;
    background-color: #bfbfbf;
    font-family: "Roboto Mono", monospace;
    border-radius: 2px;
}

#blog-post-button:hover {
    background-color: #f05d23ff;
}

#blog-text {
    color: white;
    padding-top: 10px;
    font-size: 25px;

}

/* Edit Page styling */
.edit-post {
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
    height: 400px;
    text-align: center;
    background-color: hsla(60, 24%, 96%, 0.7);
    border-style: solid;
    border-radius: 5px;
}

.edit-post h6 {
    font-size: 30px;
    margin: 5 0 10 0;
    color: black;
}

.edit-post button {
    background-color: #bfbfbf;
    font-family: "Roboto Mono", monospace;
    color: white;
    border-radius: 2px;
    margin-top: 10;
}

.edit-post button:hover {
    background-color: #f05d23ff;
}

#text-title {
    width: 50%;
    height: 70px;
    margin: 10 0 10 0;
    border: #bfbfbf dashed;
    text-align: center;
    padding: 10;
}

#text-description {
    width: 60%;
    height: 100px;
    margin: 10 0 10 0;
    border: #bfbfbf dashed;
    text-align: center;
    padding: 10;
}

/* Signup Page styling */

.login-card {
    margin: 0 auto;
    margin-top: 100px;
    border: #f05d23ff dashed;
    padding: 10px;
    text-align: center;
    width: 70%;
    background-color: hsla(60, 24%, 96%, 0.7);
    border-radius: 5px;
}

.login-card h2 {
    color: #f05d23ff;
}

.login-card input {
    margin: 10 0 10 0;
}

.login-card button {
    background-color: #bfbfbf;
    font-family: "Roboto Mono", monospace;
    border-radius: 2px;
}

.login-card button:hover {
    background-color: #f05d23ff;
}

.login-card label {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form-group {
    display: block;
    margin: 0 auto;
}
